@import '../styles/style.scss';

.contact{
    background-color: $font-secondary;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
    h2{
        font-size: 2rem;
    }
    button{
        margin-top: 1rem;
        width: 20vw;
        box-shadow: none;
        justify-content: center;
        padding: 1rem;
        background-color: $font-secondary;
        color: white;
        border: 1px solid white;
        transition: ease-in-out 0.3s;
    }
    button:hover{
        cursor: pointer;
        background-color: white;
        color: $font-secondary;
    }
}

@media only screen and (max-width:768px){
    .contact{
        text-align: center;
        h2{
            font-size: 1.5rem;
        }
        p{
            font-size: 1rem;
        }
        button{
            margin-top: 1rem;
            width: auto;
        }
    }
}