@import '../styles/style.scss';

.home{
    margin: 5rem 0 10rem 0;
    max-width: 1400px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0;
}

.home-info{
    width: auto; 
}

.home-button{
    margin-top: 5rem;
}

button{
    width: auto;
    height: auto;
    margin-right: 2rem;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    box-shadow: 7px 7px $black;
    transition: ease-in-out 0.3s;
    text-transform: uppercase;
}

button:first-child{
    background-color: $font-secondary;
}

button:last-child{
    background-color: $font-primary;
    color: $font-secondary;
}

button:hover{
    box-shadow: none;
    transition: ease-in-out 0.3s;
}

.home-img img{
    height: 23.5rem;
}
h1{
    font-size: 4rem;
}
p{
    font-size: 1.5rem;
}