.home{
    margin-top: 10rem;
    max-width: 1400px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0;
}

.home-info{
    /* width: auto; */
}

.home-img img{
    height: 23.5rem;
}
h2{
    font-size: 5rem;
}