@import '../styles/style.scss';

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // margin: 0 2rem;
    height: 4rem;
    color: $font-primary;
    padding: 1rem 4rem;
    position: sticky;
    top: 0%;
    background-color: #f6f6f6;;
    h3{
        font-size: 2.5rem;
    }
    a{
        color: $font-primary;
        font-size: 1.2rem;
        text-decoration: none;
        font-weight: 500;
      }
    a:hover{
        color: $font-secondary;
    }
    ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    
    }
    ul li{
        width: 7rem;
        list-style-type: none;
        display: flex;
        justify-content: center;
        font-weight: 300;
        font-size: 1.2rem;
    }
    .hamburger{
        display: none;
    }
}

@media only screen and (max-width:950px){
    .navbar{
        ul{
            display: flex;
            align-items: center;
            flex-direction: column;
            background-color: #f6f6f6;
            position: fixed;
            height: 100%;
            top: 0%;
            right: 0%;
            left: 100%;
            bottom: 0%;
            transition: ease-in-out 0.3s;
        }
        .hamburger{
            display: block;
            font-size: 2rem;
            z-index: 999;
        }
        .active{
           
            left: 0%;
        }
}
}


